.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-img {
  display: block;
  margin: 0 auto;
}

html {
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #4d4d4d;
  background: linear-gradient(to bottom, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(254, 254, 254, 1) 100%);
}

ul,
p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 50px 80px;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.wrapper::before,
.wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: #7fc4d7;
}

.wrapper::before {
  top: 0;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.wrapper::after {
  bottom: 0;
}

.summary {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 20px;
}

.summary__image {
  margin-top: 10px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.summary__info-block {
  width: 670px;
}

.summary__name {
  font-size: 40px;
  font-weight: bold;
}

.summary__name-surname {
  font-size: 35px;
}

.summary__contact-block {
  margin: 20px 0;
  padding: 5px 10px;
  background: #7fc4d7;
}

.summary__contact {
  display: inline-block;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.summary__contact:focus,
.summary__contact:hover {
  color: #4d4d4d;
}

.summary__text p:not(:last-child) {
  margin-bottom: 10px;
}

.bio__header {
  margin-top: 30px;
  margin-bottom: 20px;
}

.bio__title {
  color: #7fc4d7;
  margin: 0;
}

.bio__close-button::before,
.bio__close-button::after {
  position: absolute;
  top: 11px;
  left: -3px;
  content: "";
  width: 32px;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(127, 196, 215, 1);
}

.bio__close-button::before {
  transform: rotate(45deg);
}

.bio__close-button::after {
  transform: rotate(-45deg);
}

.bio__close-button:hover::before,
.bio__close-button:focus::before,
.bio__close-button:hover::after,
.bio__close-button:focus::after {
  background-color: rgba(127, 196, 215, 0.6);
}

.bio__close-button:active::before,
.bio__close-button:active::after {
  background-color: rgba(127, 196, 215, 1);
}

.bio__button {
  border: none;
  border-bottom: 1px dashed #7fc4d7;
  background: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-size: 16px;
  color: #7fc4d7;
  cursor: pointer;
}

.bio__button:focus,
.bio__button:hover {
  color: #4d4d4d;
  border-bottom-color: #4d4d4d;
}

.bio--popup {
  position: absolute;
  top: -58px;
  left: 50%;
  transform: translateX(-50%);
  width: 1050px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.bio--popup .bio__header {
  margin-top: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.bio--popup .bio__title {
  margin-top: 0;
}

.bio--popup .bio__close-button {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  border: none;
  background: none;
  cursor: pointer;
}

.bio__text:not(:last-child) {
  margin-bottom: 10px;
}

.projects::before,
.contacts::before {
  position: absolute;
  content: "";
  left: 0;
  width: 1200px;
  min-height: 188px;
  background-image: url("../img/figure.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.projects h2,
.contacts h2 {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 70px 0;
  text-align: center;
  color: #7fc4d7;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 1px 1px #999999;
}

.project-block {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 25px;
}

.project {
  width: 300px;
  flex: 0 0 auto;
}

.project__entry {
  display: block;
  text-decoration: none;
}

.project:not(:last-child) {
  margin-right: 70px;
}

.project__image {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.project__name {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.project__description,
.project__info,
.project__copyright {
  font-size: 14px;
}

.project__copyright {
  margin-top: 10px;
  color: #7fc4d7;
}

.project__copyright a {
  text-decoration: none;
  color: #7fc4d7;
  border-bottom: 1px dashed #7fc4d7;
}

.project__copyright a:focus,
.project__copyright a:hover {
  color: #4d4d4d;
  border-bottom: 1px dashed #4d4d4d;
}

.project__info li {
  position: relative;
  list-style: none;
  margin-top: 5px;
  margin-left: 15px;
}

.project__info li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #7fc4d7;
  top: 3px;
  left: -15px;
}

.project__links a {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
}

.project__html-link svg,
.project__github-link svg,
.contacts__github svg,
.contacts__facebook svg {
  fill: #4d4d4d;
}

.project__html-link:focus svg,
.project__html-link:hover svg,
.project__github-link:focus svg,
.project__github-link:hover svg,
.contacts__github:focus svg,
.contacts__github:hover svg,
.contacts__facebook:focus svg,
.contacts__facebook:hover svg {
  fill: #999999;
}

.project__html-link:active svg,
.project__github-link:active svg,
.contacts__github:active svg,
.contacts__facebook:active svg {
  fill: #7fc4d7;
}

.mouse-on {
  position: absolute;
  top: 0;
  left: 30px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  border-top: 10px solid #7fc4d7;
  border-left: 10px solid #7fc4d7;
  z-index: 5;
}

.mouse-on::before {
  position: absolute;
  content: "";
  top: -10px;
  left: -40px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #7fc4d7;
  border-right-color: #7fc4d7;
}

.contacts__block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 0;
}

.contacts__item {
  width: 300px;
  text-align: center;
}

.contacts__item h3 {
  margin-bottom: 15px;
  font-size: 15px;
  text-transform: uppercase;
}

.contacts__item:nth-child(2) h3 {
  margin-bottom: 10px;
}

.contacts__item a {
  display: inline-block;
}

.contacts__item a:not(:last-child) {
  margin-right: 10px;
}

.contacts__github,
.contacts__facebook {
  vertical-align: top;
}

.contacts__phone,
.contacts__mail {
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  color: #7fc4d7;
}

.contacts__phone:focus,
.contacts__phone:hover,
.contacts__mail:focus,
.contacts__mail:hover {
  color: #999999;
}

.contacts__hh {
  width: 89px;
  height: 50px;
  background-image: url("../img/hh.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(0.8);
}

.contacts__sj {
  margin-top: -10px;
  width: 152px;
  height: 40px;
  background-image: url("../img/sj.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(0.8);
}

.contacts__hh:focus,
.contacts__hh:hover,
.contacts__sj:focus,
.contacts__sj:hover {
  opacity: 0.7;
}

.contacts__hh:active,
.contacts__sj:active {
  opacity: 1;
  transform: scale(0.75);
}
